extends lay 

block content 
  .row 
    .col-md-4 
      .card 
        .card-header 
        hJ Ajouter une tache
        .card-body 
           form(action="/ajouter", method="POST")
              .form-group 
                label(for="Register") Ajouter une tache:  
                input.form-control#Register(type='text', name="title")
                input(type="submit", value="Ajouter").btn.btn-primary.btn-block
      .col-md-8 
      each register in registers 
      p= register.title 
      p= register.id 
        table.table-striped 
  thread 
     tr  
        th(scope='col') 0
        th(scope='col') First
        th(scope='col') Last
        th(scope='col') Handle
  tbody 
      tr 
        th(scope='row') 1
        td Mark 
        td Otto 
        td @mdo 

      tr
        th(scope='row') 2
        td Jacob 
        td Thornton
        td @fat
      tr 
        th(scope='row') 3
        td Larry 
        td the Bird
        td @twitter
      
